.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-self-end {
  justify-self: end;
}

.bg-grey {
  background-color: #333;
}

.bg-white {
  background-color: #fff;
}

.bx-1 {
  border: 1px solid #333;
}

.br-5 {
  border-radius: 5px;
}

.br-15 {
  border-radius: 15px;
}
